doctype html
html
  head
    title Dev Digest
    link(rel='stylesheet', href='/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body(ng-app='thedigest')
    header
    .container
      .two-thirds.column.offset-by-three
        h1.text-center Dev Digest
        block content
    script(src='lib.js')
    script(src='app.js')
