doctype html
html
  head
    title Digest
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body.theme-base-0d(ng-app='thedigest')

    input.sidebar-checkbox(id='sidebar-checkbox', type='checkbox')

    .sidebar(id='sidebar')
      .sidebar-item
        | Digest
      nav.sidebar-nav
        a.sidebar-nav-item(href='https://github.com/connyay/digest') Github
    .wrap
      .masthead
        .container
          h3.masthead-title
            | Digest
      .container.content
          block content

    label.sidebar-toggle(for='sidebar-checkbox')

    script(src='lib.js')
    script(src='app.js')
    script.
      (function(document) {
         var toggle = document.querySelector('.sidebar-toggle');
         var sidebar = document.querySelector('#sidebar');
         var checkbox = document.querySelector('#sidebar-checkbox');
         document.addEventListener('click', function(e) {
           var target = e.target;
           if(!checkbox.checked ||
              sidebar.contains(target) ||
              (target === checkbox || target === toggle)) return;
           checkbox.checked = false;
         }, false);
       })(document);
