doctype html
html
  head
    title The Digest
    link(rel='stylesheet', href='/style.css')
  body(ng-app='thedigest')
    header
    .container
      .two-thirds.column.offset-by-three
        h3 The Digest
        block content
    script(src='lib.js')
    script(src='app.js')
